<!-- main/shops/allentown-central.html -->

{% extends 'main/shops/base-shop.html' %}
{% load static %}



{% block park_name %}Franklin Park{% endblock %}
{% block park_image %}{% static "images/shops/franklin-park.png" %}{% endblock park_image %}

{% block program_contact %}Adonis Cannon{% endblock program_contact %}
{% block program_contact_number %}(610) 434-1140{% endblock program_contact_number %}

{% block map_source %}
"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15382.860611712036!2d-75.4865031!3d40.6025228!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c43980cbfd2539%3A0x2cc50fe395761f32!2sCommunity%20Bike%20Works!5e1!3m2!1sen!2sus!4v1730683485599!5m2!1sen!2sus" 
{% endblock map_source %}

{% block addressline1 %}235 N Madison St{% endblock addressline1 %}
{% block addressline2 %}Allentown, PA 18102{% endblock addressline2 %}

{% block shop_location %}Downtown Allentown{% endblock shop_location %}


{% block facebook_link %}"#"{% endblock %}
{% block twitter_link %}"#"{% endblock %}
{% block instagram_link %}"#"{% endblock %}
{% block linkedin_link %}"#"{% endblock %}