<!-- main/shops/allentown-east.html -->

{% extends 'main/shops/base-shop.html' %}
{% load static %}



{% block park_name %}Keck Park{% endblock %}
{% block park_image %}{% static "images/shops/keck-park.png" %}{% endblock park_image %}

{% block program_contact %}Sadie Aten{% endblock program_contact %}
{% block program_contact_number %}(610) 820-9927{% endblock program_contact_number %}

{% block map_source %}
"https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15382.694221407432!2d-75.4441291!3d40.6032458!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c43950590af285%3A0x69e76f7fcb671730!2sCommunity%20Bike%20Works!5e1!3m2!1sen!2sus!4v1730941518052!5m2!1sen!2sus"
{% endblock map_source %}

{% block addressline1 %}614 S Carlisle St{% endblock addressline1 %}
{% block addressline2 %}Allentown, PA 18109{% endblock addressline2 %}

{% block shop_location %}East Allentown{% endblock shop_location %}


{% block facebook_link %}"#"{% endblock %}
{% block twitter_link %}"#"{% endblock %}
{% block instagram_link %}"#"{% endblock %}
{% block linkedin_link %}"#"{% endblock %}