<!-- main/shops/base-shop.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block title %}Shops{% endblock %}

{% block content %}

<div class="bg-blue-light text-center py-10">
    <h1 class="text-4xl font-bold text-center text-white">{% block park_name %}Park Name{% endblock %}</h1>
</div> 

<div class="w-full">
    <img src={% block park_image %}{% static "images/home-banner.png" %}{% endblock park_image %} alt="Full Width Image" class="w-full h-auto">
</div>

<div class="w-3/5 mx-auto bg-white">

  <div class="flex items-center justify-center pt-20 pb-5">
    <img src="{% static 'icons/bike.png' %}" alt="Bike icon" class="w-12 h-12 mr-4">
    <h1 class="text-4xl font-bold text-center text-blue-dark">Contact Information</h1>
    <img src="{% static 'icons/bike.png' %}" alt="Bike icon" class="w-12 h-12 ml-4">
  </div>
    
    <div class="max-w-6xl mx-auto bg-red rounded-lg p-6 flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-8 pt-10">
    
        <!-- Left Column: Contact Information -->
        <div class="md:w-1/3 space-y-4">
          <!-- Programs/Donate Section -->
          <div>
            <p class="text-lg text-white font-semibold">Programs/Donate:</p>
            <p class="text-lg text-white">{% block program_contact %}Adonis Cannon{% endblock %}  <a href="tel:+16104341140" class="text-white">
                {% block program_contact_number %}(610) 434-1140{% endblock %} </a>
            </p>
          </div>
    
          <!-- Media Requests Section -->
          <div>
            <p class="text-lg text-white font-semibold">Media requests:</p>
            <p class="text-lg text-white">Kim Schaffer <a href="tel:+14849573315" class="text-white">(484) 957-3315</a></p>
          </div>
    
          <!-- Volunteer Section -->
          <div>
            <p class="text-lg text-white font-semibold">Volunteer:</p>
            <p class="text-lg text-white">James Williams <a href="tel:+16104341140" class="text-white">(610) 434-1140</a></p>
          </div>
    
          <!-- Donation Hours Section -->
          <div>
            <p class="text-lg text-white font-semibold">Donation Hours:</p>
            <p class="text-lg text-white">Monday - Friday<br>11 a.m. to 3 p.m.</p>
          </div>
        </div>
    
        <!-- Right Column: Map and Address -->
        <div class="md:w-2/3 space-y-4 flex flex-col items-center">
          <!-- Map Component -->
          <div class="w-full space-y-4 flex flex-col items-center">
            <!-- Map Component -->
            <div class="relative w-full pb-[50%] h-0 overflow-hidden rounded-lg">
              <!-- Responsive Map Embed -->
              <iframe 
                src={% block map_source %}
                "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245775.2250846686!2d-74.14483048586206!3d40.697630744531445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY!5e1!3m2!1sen!2sus!4v1730689664583!5m2!1sen!2sus"
                {% endblock map_source %}
                
                class="absolute top-0 left-0 w-full h-full border-0"
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
      
    
          <!-- Address Section -->
            <div class="text-center">
                <p class="text-white font-semibold">{% block addressline1 %}[Address Line 1]{% endblock addressline1 %}</p>
                <p class="text-white">{% block addressline2 %}[Address Line 2]{% endblock addressline2 %}</p>
            </div>
          </div>
        </div>
    </div>

    <div class="flex items-center justify-center pt-20 pb-5">
      <img src="{% static 'icons/bike.png' %}" alt="Bike icon" class="w-12 h-12 mr-4">
      <h1 class="text-4xl font-bold text-center text-blue-dark">Staff At {% block shop_location %}[Shop Location]{% endblock shop_location %}</h1>
      <img src="{% static 'icons/bike.png' %}" alt="Bike icon" class="w-12 h-12 ml-4">
    </div>    

    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 pt-10">
        {% for member in team_members %}
          {% include 'main/components/team_member_card.html' with member=member %}
        {% endfor %}
    </div>

    <div class="flex items-center justify-center pt-20 pb-5">
      <img src="{% static 'icons/bike.png' %}" alt="Bike icon" class="w-12 h-12 mr-4">
      <h1 class="text-4xl font-bold text-center text-blue-dark">Participate in a Program</h1>
      <img src="{% static 'icons/bike.png' %}" alt="Bike icon" class="w-12 h-12 ml-4">
    </div>  

    <div class="pt-10 grid gap-20 md:grid-cols-3 px-20">

      <!-- Earn A Bike Card -->
      <div class="text-white text-center">
          <div class="bg-orange p-6 rounded shadow">
              <h3 class="text-2xl font-bold mb-4">Earn A Bike!</h3>
              <p class="mb-6">Learn how you or your child can gain life skills and a bike</p>
            <a href="{% block registration_link %}#{% endblock %}" target ="_blank" 
              class="bg-yellow-500 text-black font-semibold px-4 py-2 mt-6 w-3/4 rounded inline-block text-center">
              Register
            </a>
          </div>
      </div>
      
      <!-- Featured Articles Card -->
      <div class="text-white text-center">
          <div class="bg-orange p-6 rounded shadow">
              <h3 class="text-2xl font-bold mb-4">Featured Articles</h3>
              <p class="mb-6">CBW featured seven times in Bicycling Magazine</p>
          <button class="bg-yellow-500 text-black font-semibold px-4 py-2 mt-6 w-3/4 rounded">Read More</button>

          </div>
      </div>

      <!-- Donate A Bike Card -->
      <div class="text-white text-center">
          <div class="bg-orange p-6 rounded shadow">
              <h3 class="text-2xl font-bold mb-4">Donate a Bike</h3>
              <p class="mb-6">Learn how you can donate old bikes for our programs</p>
          <button class="bg-yellow-500 text-black font-semibold px-4 py-2 mt-6 w-3/4 rounded">Donate</button>

          </div>
      </div>
    </div>

    <div class="flex items-center justify-center space-x-5 pt-20">
      <img src={% static "icons/bike.png" %} alt="Icon" class="w-8 h-8">
      <h1 class="text-4xl font-bold text-center text-blue-dark">Follow Us</h1>
      <img src={% static "icons/bike.png" %} alt="Icon" class="w-8 h-8">
    </div>

    <div class="pt-10 pb-10 bg-white mx-auto">
      <img src={% static "images/social-media-reel.png" %} alt="Full Width Image" class="w-full mx-auto h-auto">
    </div>


    
    <div class="flex justify-center items-center space-x-4 pb-10">

      <p class="text-xl font-semibold">Check out more photos on our Social Media</p>
      <img src="{% static 'icons/right-arrow.png' %}" class="w-5 h-5">

      <a href={% block facebook_link %}"#"{% endblock %}><img src="{% static 'icons/facebook.png' %}" alt="Facebook" class="w-6 h-6"></a>
      <a href={% block twitter_link %}"#"{% endblock %}><img src="{% static 'icons/twitter.png' %}" alt="Twitter" class="w-6 h-6"></a>
      <a href={% block instagram_link %}"#"{% endblock %}><img src="{% static 'icons/instagram.png' %}" alt="Instagram" class="w-6 h-6"></a>
      <a href={% block linkedin_link %}"#"{% endblock %}><img src="{% static 'icons/linkedin.png' %}" alt="LinkedIn" class="w-6 h-6"></a>
    </div>


</div>



{% endblock content %}
