<!-- main/shops/base-shop.html -->

{% extends 'main/base.html' %}
{% load static %}

{% block title %}Shops{% endblock %}

{% block content %}

<div class="bg-blue-light text-center py-10">
    <h1 class="text-4xl font-bold text-center text-white">{% block park_name %}Park Name{% endblock %}</h1>
</div> 
{% block shop_map %}
<iframe 
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15382.860611712036!2d-75.4865031!3d40.6025228!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c43980cbfd2539%3A0x2cc50fe395761f32!2sCommunity%20Bike%20Works!5e1!3m2!1sen!2sus!4v1730683485599!5m2!1sen!2sus" 
    width="600" 
    height="450" 
    style="border:0;"
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
</iframe>
{% endblock shop_map %}

{% endblock content %}
