<!-- main/base.html -->
 {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Site{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        .bg-blue-dark {
            background-color: #0E3194;
        }
        .bg-blue-light {
            background-color: #01A7C2;
        }
        .bg-orange {
            background-color: #E16036;
        }
        .bg-yellow {
            background-color: #FAC504;
        }
        .bg-white {
            background-color: #FFFFFF;
        }
        .bg-red {
            background-color: #A62639;
        }

        .text-blue-dark {
            color: #0E3194;
        }
        .text-blue-light {
            color: #01A7C2;
        }
        .text-orange {
            color: #E16036;
        }
        .text-yellow {
            color: #FAC504;
        }
        .text-white {
            color: #FFFFFF;
        }
    </style> 
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> {% endcomment %}
</head>
<body class="bg-gray-000">

    {% comment %} <div class="absolute inset-0 bg-[url('{% static "images/skyline-no-background.png" %}')] bg-cover bg-center opacity-50 z-[-1]"> {% endcomment %}
{% comment %} 
    <img src="{% static 'images/skyline-no-background.png' %}" 
         class="absolute inset-0 w-full h-24 object-cover opacity-50 z-20" 
         alt="Navbar Background"> {% endcomment %}

    <nav class="bg-blue-light text-white text-2xl py-4 z-10 overflow-visible fixed top-0 w-full">
        <div class="max-w-7xl mx-auto px-4 flex justify-between items-center">
            <div class="relative -mb-24">
                <a href="{% url 'home' %}">
                <img src="{% static "images/logo.webp" %}" alt="Logo" class="h-25 w-25 transform translate-y-0 drop-shadow-2xl">
                </a>
            </div>
            <div class="flex items-center space-x-5">
                <a href="{% url 'home' %}" class="mx-2 hover:text-gray-300">Home</a>

                <a href="{% url 'programs' %}" class="mx-2 hover:text-gray-300">Programs</a>

                <div class="relative group">
                    <a href="" class="mx-2 hover:text-gray-300 flex items-center">
                        Shops
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </a>
                    <div class="absolute left-0 hidden bg-blue-dark text-white text-lg rounded-md shadow-lg py-2 group-hover:block">
                        <a href="{% url 'shops' shopname='allentown-central' %}" class="block px-4 py-2 hover:bg-cyan-500">Downtown Allentown</a>
                        <a href="{% url 'shops' shopname='allentown-east' %}" class="block px-4 py-2 hover:bg-cyan-500">East Allentown</a>
                        <a href="{% url 'shops' shopname='easton' %}" class="block px-4 py-2 hover:bg-cyan-500">Easton</a>
                    </div>
                </div>


                {% comment %} <a href="{% url "about" %}" class="mx-2 hover:text-gray-300">About</a> {% endcomment %}


                <div class="relative group">
                    <a href="" class="mx-2 hover:text-gray-300 flex items-center">
                        About
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </a>
                    <div class="absolute left-0 hidden bg-blue-dark text-white text-lg rounded-md shadow-lg py-2 group-hover:block">
                        <a href="{% url 'impact' %}" class="block px-4 py-2 hover:bg-cyan-500">Mission And Impact</a>
                        <a href="{% url 'hiring' %}" class="block px-4 py-2 hover:bg-cyan-500">Hiring</a>
                    </div>
                </div>

                <a href="{% url "contact" %}" class="mx-2 hover:text-gray-300">Contact</a>
                <a href="https://interland3.donorperfect.net/weblink/WebLink.aspx?name=E331406&id=1" target="_blank" class="mx-2 hover:text-gray-300">Donate</a>

                <div class="">
                    <a href="#">
                    <img src="{% static "icons/search.png" %}" alt="Search" class="h-8 w-8">
                    </a>
                </div>
                <div class="">
                    <a href="#">
                    <img src="{% static "icons/user.png" %}" alt="Account" class="h-8 w-8">
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% comment %} </div> {% endcomment %}
    
    <div class="mx-auto mt-20 pt-12">
        {% block content %}{% endblock %}
    </div>


    <footer class="bg-blue-light text-white py-8">
        <div class="max-w-7xl mx-auto px-4 grid grid-cols-1 md:grid-cols-4 gap-8 text-center md:text-left">
          
          <div>
            <img src="{% static 'images/logo.webp' %}" alt="Community Bike Works Logo" class="mx-auto md:mx-0 mb-4 w-14 h-14">
            <p class="text-lg font-semibold mb-2">Community Bike Works</p>
            <div class="flex justify-center md:justify-start space-x-4">
              <a href="#" target="_blank"><img src="{% static 'icons/facebook.png' %}" alt="Facebook" class="w-6 h-6"></a>
              <a href="#" target="_blank"><img src="{% static 'icons/twitter.png' %}" alt="Twitter" class="w-6 h-6"></a>
              <a href="https://www.instagram.com/communitybikeworks/" target="_blank"><img src="{% static 'icons/instagram.png' %}" alt="Instagram" class="w-6 h-6"></a>
              <a href="#" target="_blank"><img src="{% static 'icons/linkedin.png' %}" alt="LinkedIn" class="w-6 h-6"></a>
            </div>
          </div>
      
          <div>
            <h3 class="text-lg font-semibold mb-2">Programs</h3>
            <ul class="space-y-2 text-gray-300">
              <li>Earn a Bike</li>
              <li>Junior Earn a Bike</li>
              <li>Bike Summit</li>
            </ul>
          </div>
      
          <div>
            <h3 class="text-lg font-semibold mb-2">Contact</h3>
            <ul class="space-y-2 text-gray-300">
              <li>(610)-820-9927</li>
              <li>(610)-434-1140</li>
              <li>(484)-957-6722</li>
            </ul>
          </div>
      
          <div>
            <h3 class="text-lg font-semibold mb-2">Locations</h3>
            <ul class="space-y-2 text-gray-300">
              <li>East Allentown</li>
              <li>Downtown Allentown</li>
              <li>Easton</li>
            </ul>
          </div>
      
        </div>
    </footer>
      
</body>
</html>
