<!-- main/contact.html -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="bg-blue-light text-center py-10">
    <h1 class="text-4xl font-bold text-white">Contact Us</h1>
</div>

<!-- Image banner section -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8 mx-4">
    <div class="flex flex-col items-center"> <!-- Center the image and button -->
        <img src={% static "images/home-banner.png" %} alt="Banner 1" class="w-full">
        <button class="bg-yellow text-blue-dark font-bold py-2 px-4 rounded mt-2">Easton</button>
    </div>
    <div class="flex flex-col items-center"> 
        <img src={% static "images/home-banner.png" %} alt="Banner 2" class="w-full">
        <button class="bg-yellow text-blue-dark font-bold py-2 px-4 rounded mt-2">Franklin Park</button>
    </div>
    <div class="flex flex-col items-center"> 
        <img src={% static "images/home-banner.png" %} alt="Banner 3" class="w-full">
        <button class="bg-yellow text-blue-dark font-bold py-2 px-4 rounded mt-2">Keck Park</button>
    </div>
    
    
</div>

<!-- Participate in our programs section -->
<div class="bg-blue-dark text-white p-8 mt-8 mx-4 rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Participate in Our Programs:</h2>
    <ul class="space-y-2">
        <li>BAB, Downtown Allentown: Adonis Cannon, 610 - 434 - 1140</li>
        <li>EAB, East Allentown: Sadie Aten, 610 - 820 - 9927</li>
        <li>EAB, Easton: Nella Panella, 484 - 957 - 6722 </li>
    </ul>
</div>

<!-- Get involved section -->
<div class="bg-orange text-white p-8 mt-8 mx-4 rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Get Involved:</h2>
    <ul class="space-y-2 mt-4">
        <li>Volunteer in programs: James Williams, 610 - 434 - 1140</li>
        <li>Invite us to participate at a community event: 610 - 434 - 1140</li>
        <li>Request a bike for an adult in need: Adonis Cannon, 610 - 434 - 1140</li>
    </ul>
</div>

<!-- Donate a bike section -->
<div class="bg-blue-light text-white p-8 mt-8 mx-4 rounded-lg">
    <h2 class="text-2xl font-bold mb-4">Donate a Bike:</h2>
    <ul class="space-y-2 mt-4">
        <li>Downtown Allentown: Adonis Cannon, 610 - 434 - 1140</li>
        <li>East Allentown: Sadie Aten, 610 - 820 - 9927</li>
        <li>Easton: Nella Panella, 484 - 957 - 6722</li>
    </ul>
</div>

<!-- Contact form section -->
<div class="bg-blue-dark text-white p-8 mt-8 mx-auto max-w-5xl rounded-lg mb-8 shadow-lg"> <!-- Centered with a max width -->
    <h2 class="text-2xl font-bold mb-4 text-center">Need Something Else?</h2>
    <p class="text-center mb-4">Call 610 - 434 - 1140 or fill out the form. Thanks for being in touch!</p>
    <div class="flex flex-col md:flex-row justify-between"> <!-- Flexbox layout -->
        <!-- Left side: General contact info -->
        <div class="flex-1 md:mr-4 mb-4 md:mb-0 pr-4"> <!-- Added padding for spacing -->
            <h3 class="text-xl font-bold mb-2">Contact Information</h3>
            <p>If you have any questions or need assistance, please feel free to reach out to us:</p>
            <ul class="mt-4 space-y-2">
                <li><strong>Address:</strong> <span class="text-white">235 N Madison St Allentown, PA 18102 US</span></li>
                <li><strong>Phone:</strong> <span class="text-white">(610) - 434 - 1140</span></li>
                <li class="text-xl font-bold mb-2">Program Hours:</li>
                <li>Mon: 10:00 am – 06:00 pm</li>
                <li>Tue: 10:00 am – 06:00 pm</li>
                <li>Wed: 10:00 am – 06:00 pm</li>
                <li>Thu: 10:00 am – 06:00 pm</li>
                <li>Fri: 10:00 am – 06:00 pm</li>
                <li>Sat/Sun: Closed</li>
            </ul>
        </div>

        <!-- Right side: Contact form -->
        <div class="flex-1"> <!-- Form section -->
            <form action="#" method="post" class="space-y-4"> <!-- Placeholder URL -->
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <input type="text" name="name" placeholder="Name" class="p-2 text-gray-900 rounded border border-gray-300 focus:outline-none focus:ring focus:ring-yellow-400">
                    <input type="text" name="phone" placeholder="Phone Number" class="p-2 text-gray-900 rounded border border-gray-300 focus:outline-none focus:ring focus:ring-yellow-400">
                </div>
                <div>
                    <select id="location" name="location" class="p-2 text-gray-900 rounded border border-gray-300 focus:outline-none focus:ring focus:ring-yellow-400 w-full">
                        <option value="" disabled selected class="text-gray-500">Select Location</option> 
                        <option value="Easton">Easton</option>
                        <option value="Franklin Park">Franklin Park</option>
                        <option value="Keck Park">Keck Park</option>
                    </select>
                </div>
                <textarea name="message" placeholder="How can we help you?" class="w-full p-2 text-gray-900 rounded border border-gray-300 focus:outline-none focus:ring focus:ring-yellow-400 h-32"></textarea>
                
                <div class="flex items-center mt-4">
                    <input type="checkbox" id="email-list" name="email-list" class="mr-2 leading-tight">
                    <label for="email-list" class="text-sm">Sign up for our email list for monthly updates from Community Bike Works!</label>
                </div>
                <button type="submit" class="bg-yellow text-blue-dark font-bold py-2 px-4 rounded hover:bg-yellow-500 transition">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
