{% extends 'main/base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="bg-blue-dark text-center py-10">
    <h1 class="text-5xl font-extrabold text-white">Contact Us</h1>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8 mx-4">
    <div class="flex flex-col items-center"> 
        <img src="{% static 'images/shops/easton.png' %}" alt="Banner 1" class="w-full h-64 object-cover">
        <a href="{% url 'shops' 'easton' %}">
            <button class="bg-yellow text-blue-dark font-bold py-2 px-4 rounded mt-2">Easton</button>
        </a>
    </div>
    <div class="flex flex-col items-center"> 
        <img src="{% static 'images/shops/franklin-park.png' %}" alt="Banner 2" class="w-full h-64 object-cover">
        <a href="{% url 'shops' 'allentown-central' %}">
            <button class="bg-yellow text-blue-dark font-bold py-2 px-4 rounded mt-2">Franklin Park</button>
        </a>
    </div>
    <div class="flex flex-col items-center"> 
        <img src="{% static 'images/shops/keck-park.png' %}" alt="Banner 3" class="w-full h-64 object-cover">
        <a href="{% url 'shops' 'allentown-east' %}">
            <button class="bg-yellow text-blue-dark font-bold py-2 px-4 rounded mt-2">Keck Park</button>
        </a>
    </div>
</div>



<div class="bg-blue-dark text-white p-8 mt-10 mx-4 rounded-lg relative max-w-5xl mx-auto shadow-lg">
    <h2 class="text-3xl font-bold mb-4 text-center">Participate in Our Programs</h2>
    <img src="{% static 'icons/gear.png' %}" alt="Gear icon" class="absolute bottom-4 left-4 w-12 h-12 opacity-30">
    <ul class="space-y-2 mt-4 text-center">
        <li>Downtown Allentown: Adonis Cannon, 
            <a href="tel:+16104341140" class="text-white-500 underline">(610) 434-1140</a>
        </li>
        <li>East Allentown: Sadie Aten, 
            <a href="tel:+16108209927" class="text-white-500 underline">(610) 820-9927</a>
        </li>
        <li>Easton: Nella Panella, 
            <a href="tel:+14849576722" class="text-white-500 underline">(484) 957-6722</a>
        </li>
    </ul>    
</div>

<div class="bg-orange text-white p-8 mt-8 mx-4 rounded-lg relative max-w-5xl mx-auto shadow-lg">
    <h2 class="text-3xl font-bold mb-4 text-center">Get Involved</h2>
    <img src="{% static 'icons/gear.png' %}" alt="Gear icon" class="absolute bottom-4 left-4 w-12 h-12 opacity-30">
    <ul class="space-y-2 mt-4 text-center">
        <li>Volunteer in programs: James Williams, 
            <a href="tel:+16104341140" class="text-white-500 underline">(610) 434-1140</a>
        </li>
        <li>Invite us to participate at a community event: 
            <a href="tel:+16104341140" class="text-white-500 underline">(610) 434-1140</a> 
        </li>
        <li>Request a bike for an adult in need: Adonis Cannon, 
            <a href="tel:+16104341140" class="text-white-500 underline">(610) 434-1140</a>
        </li>
    </ul>
</div>

<div class="bg-blue-light text-white p-8 mt-8 mx-4 rounded-lg relative max-w-5xl mx-auto shadow-lg relative">
    <h2 class="text-3xl font-bold mb-4 text-center">Donate a Bike</h2>
    <img src="{% static 'icons/gear.png' %}" alt="Gear icon" class="absolute bottom-4 left-4 w-12 h-12 opacity-30">
    <ul class="space-y-2 mt-4 text-center">
        <li>Downtown Allentown: Adonis Cannon, 
            <a href="tel:+16104341140" class="text-white-500 underline">(610) 434-1140</a>
        </li>
        <li>East Allentown: Sadie Aten, 
            <a href="tel+16108209927" class="text-white-500 underline">(610) 820-9927</a>
        </li>
        <li>Easton: Nella Panella, 
            <a href="tel+14849576722" class="text-white-500 underline">(484) 957-6722</a>
        </li>
    </ul>
</div>

<div class="bg-blue-dark text-white p-8 mt-12 mx-auto max-w-5xl rounded-lg shadow-lg mb-8">
    <h2 class="text-3xl font-bold mb-4 text-center">Need Something Else?</h2>
    <p class="text-center mb-6">
        Call <a href="tel:+16104341140" class="text-white underline">(610) 434-1140</a> or fill out the form. Thanks for being in touch!
    </p>
        <img src="{% static 'icons/gear.png' %}" alt="Gear icon" class="absolute bottom-4 left-4 w-12 h-12 opacity-30">
    <div class="flex flex-col md:flex-row md:space-x-8">
        <div class="flex-1">
            <h3 class="text-2xl font-bold mb-4">Contact Information</h3>
            <p class="mb-6">If you have any questions or need assistance, please feel free to reach out to us:</p>
            <ul class="space-y-4">
                <li><strong>Address:</strong> <span class="text-white">235 N Madison St, Allentown, PA 18102 US</span></li>
                <li><strong>Phone:</strong>
                    <a href="tel:+16104341140" class="text-white underline">(610) 434-1140</a>
                </li>
                <li><strong>Program Hours:</strong></li>
                <li>Mon - Fri: 10:00 am – 06:00 pm</li>
                <li>Sat/Sun: Closed</li>
            </ul>
        </div>

        <div class="flex-1 bg-white text-gray-900 p-6 rounded-lg shadow-lg">
            <form action="#" method="post" class="space-y-4">
                {% csrf_token %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <input type="text" name="name" placeholder="Name" class="p-3 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
                    <input type="text" name="phone" placeholder="Phone Number" class="p-3 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500">
                </div>
                <div>
                    <select id="location" name="location" class="p-3 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500 w-full">
                        <option value="" disabled selected>Select Location</option> 
                        <option value="Easton">Easton</option>
                        <option value="Franklin Park">Franklin Park</option>
                        <option value="Keck Park">Keck Park</option>
                    </select>
                </div>
                <textarea name="message" placeholder="How can we help you?" class="w-full p-3 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-yellow-500 h-32"></textarea>
                
                <div class="flex items-center mt-4">
                    <input type="checkbox" id="email-list" name="email-list" class="mr-2">
                    <label for="email-list" class="text-sm text-gray-700">Sign up for our email list for monthly updates from Community Bike Works!</label>
                </div>
                <button type="submit" class="bg-yellow text-blue-dark font-bold py-3 px-6 rounded-lg hover:bg-yellow-500 transition-all mt-4 w-full md:w-auto">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
